

html {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}




img {
	max-width: 100%;
}

.page {
	min-width: 320px;
	font-family: 'Gilroy', sans-serif, 'Roboto';
	background: $color-white;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.visually-hidden {
	display: none;
}

.flex {
	display: flex;
}

.container-st {
	max-width: 1321px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}

.section-title {
	font-size: 42px;
	color: $color-gray;
	text-align: center;
}

.section-descr-st {
	font-size: 28px;
	color: $color-light-blue;
	align-items: center;
	flex-direction: column;
}

.dark-blue {
	color: $color-dark-blue;
}