@include font-face('Gilroy', 700, normal, '../font/Gilroy-Bold');
@include font-face('Gilroy', 500, normal, '../font/Gilroy-Semibold');
@include font-face('Gilroy', 400, normal, '../font/Gilroy-Regular');
@include font-face('roboto', 400, normal, '../fonts/roboto-regular');
@include font-face('roboto', 700, normal, '../fonts/roboto-bold');
      