$color-white: #fff;
$color-dark-blue: #046DBF;
$color-light-blue: #099DBA;
$color-gray: #474551;
$color-background-light-blue: #F3FEFE;
$color-shadow: #8db5d69f;
$color-hover-blue: #265a81;
$color-hover-light: #BDF8F9;
$color-hover-dark: #004880b4;
$color-hover-border: #2ec3e091;

// Шрифты
$font-gilroy-bold: 'Gilroy-Bold';
$font-gilroy-semibold: 'Gilroy-Semibold';
$font-gilroy-regular: 'Gilroy-Regular';
$font-roboto-regular: 'Roboto-Regular';
$font-roboto-bold: 'Roboto-Bold';
